<div class="content-box" *ngIf="txs != null && txs.length > 0">
    <h3 class="content-box-header bg-white">
        <span class="icon-separator">
            <i class="fas fa-exchange font-blue fa-fw"></i>
        </span>
        {{ 'TRANSACTION_LOG.TITLE' | translate }}
    </h3>
    <div class="content-box-wrapper">
        <div class="row" *ngIf="txs != null">
            <div class="col-sm-12" *ngFor="let tx of txs">
                <i class="fas fa-fw" [ngClass]="{'fa-check font-green': tx.receipt.status === 1, 'fa-times font-red': tx.receipt.status === 0}"></i> Transaction ID: <a href="https://etherscan.io/tx/{{tx.tx}}" target="_blank"> {{tx.tx}} <i class="fas fa-external-link-square"></i></a>.
            </div>
        </div>
        <div class="row" *ngIf="error != null">
            <div class="col-sm-12 font-red">
                {{ error | translate }}
            </div>
        </div>
    </div>
</div>