<div class="content-box">
    <h3 class="content-box-header bg-white">
        <span class="icon-separator">
            <i class="fas icon-travelkoin font-blue fa-fw"></i>
        </span>
        {{ 'TOKEN_WALLET.TITLE' | translate }}
    </h3>
    <div class="content-box-wrapper text-center mrg25A font-size-20" *ngIf="hasEnded === false">
        {{ contributionAmountString }}
        <span>
            TKT
            <sup [title]="'TOKEN_WALLET.CLAIM_AFTER_SALE' | translate"><i class="fas fa-asterisk"></i></sup>
        </span>
    </div>
    <div class="content-box-wrapper text-center mrg25A font-size-20" *ngIf="hasEnded === true && contributionAmount > 0">
        <button type="submit" class="btn btn-block btn-blue-alt" (click)="withdrawTokens()" [disabled]="withdrawing === true"><span [translate]="'TOKEN_CONTRACT.CLAIM_YOUR_TOKENS'" [translateParams]="{value: contributionAmountString}"></span> <i *ngIf="withdrawing === true" class="fas fa-spinner fa-spin"></i></button>
    </div>
    <div class="content-box-wrapper text-center mrg25A font-size-20" *ngIf="hasEnded === true && contributionAmount === 0">
        {{ balance }} TKT
    </div>
</div>