<div class="row" *ngIf="list == null || list.length === 0">
    <div class="col-sm-12">
        {{ 'HANS.USERS.NO_RECORDS' | translate }}
    </div>
</div>
<div class="row" *ngIf="list != null && list.length > 0">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td width="20%">Email</td>
                <td width="30%">ETH wallet address</td>
                <td width="40%">Documents</td>
                <td width="10%" align="center" class="text-center" *ngIf="submittedDocuments === true">Action</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of list">
                <td>{{ user.email }}</td>
                <td>{{ user.ethWalletAddress }}</td>
                <td>
                    <ul class="list list-inline" *ngIf="user.multimedia != null && user.multimedia.length > 0">
                        <li class="list-inline-item" *ngFor="let mm of user.multimedia">
                            <cl-image public-id="{{mm.identifier}}" default_image="noimage.png">
                                <cl-transformation height="75" width="100" crop="fill"></cl-transformation>
                                <cl-transformation gravity="center" quality="auto" fetch_format="auto"></cl-transformation>
                            </cl-image>
                        </li>
                    </ul>
                    <span *ngIf="user.multimedia == null || user.multimedia.length === 0">{{ 'HANS.USERS.NO_IMAGES_UPLOADED' | translate }}</span>
                </td>
                <td *ngIf="approved === true && submittedDocuments === true" align="center" class="text-center"><button type="button" (click)="blockUser(user.uid)" class="btn btn-warning btn-sm">{{ 'HANS.USERS.BLOCK' | translate }}</button></td>
                <td *ngIf="(approved === false && submittedDocuments === true) || blocked === true" align="center" class="text-center"><button type="button" (click)="approveUser(user.uid)" class="btn btn-blue-alt btn-sm">{{ 'HANS.USERS.APPROVE' | translate }}</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
