<div *ngIf="user != null">
    <div id="page-title">
        <h2><i class="fas fa-home"></i> {{ 'DASHBOARD.HEADER' | translate }}</h2>
        <p>{{ 'DASHBOARD.DESCRIPTION' | translate }}</p>
        <p *ngIf="user.approved === false"><span class="label label-info">{{ 'DASHBOARD.WAITING_FOR_APPROVAL' | translate }}</span></p>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <app-shared-transaction-log></app-shared-transaction-log>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <app-secure-token-sale></app-secure-token-sale>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <app-secure-progress></app-secure-progress>
        </div>
        <div class="col-sm-4">
            <app-secure-token-wallet></app-secure-token-wallet>
        </div>
    </div>
</div>