<div id="page-title">
    <h2>
        <i *ngIf="type === 'BTC'" class="fab fa-bitcoin"></i>
        <i *ngIf="type === 'ETH'" class="fab fa-ethereum"></i>
        <i *ngIf="type === 'TKT'" class="icon-travelkoin"></i>
        {{ 'COIN.' + type | translate }} {{ 'WALLET.TITLE' | translate }}</h2>
    <p [translate]="'WALLET.DESCRIPTION'" [translateParams]="{type: type}"></p>
</div>

<app-secure-wallet-overview [type]="type" [showTitle]="true" [showButton]="false" [customTitle]="'WALLET.TOTAL_INVESTMENT'"></app-secure-wallet-overview>

<app-secure-wallet-value [type]="type" *ngIf="listView === true" (onAddTransaction)="showTransactionView()"></app-secure-wallet-value>

<app-secure-wallet-send [type]="type" *ngIf="listView === false && (type === 'BTC' || type === 'ETH')" (onTransactionComplete)="showListView()"></app-secure-wallet-send>