<div class="container">
    <h3 class="p-title">
        <span>{{ 'HOME.ADVISORS.HEADER' | translate }}</span>
    </h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/mario.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Dr. Mario Hardy</b>
                        <span>Founder - Investor MAP 2 | Ventures <a href="https://www.linkedin.com/in/mariohardy" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/bart.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Bart Bellers</b>
                        <span>Founder - Xpedite Ventures & Amadeus NEXT<a href="https://www.linkedin.com/in/bartbellers" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>