<div class="content-box">
  <h3 class="content-box-header bg-white">
        <span class="icon-separator">
            <i class="fas fa-times font-red"></i>
        </span>
    CHROME BROWSER REQUIRED
  </h3>
  <div class="content-box-wrapper text-center mrg30A font-size-20">
    <p>Please open our site using <a href="https://www.google.co.th/aclk?sa=l&ai=DChcSEwiSmaj3htLZAhWOFY8KHUxnCF4YABABGgJzYg&sig=AOD64_05wnDR2AtUiKaaFxWPSF7BGKFeyA&adurl=&q=&ved=0ahUKEwip1aH3htLZAhXMybwKHYffAnoQqyQIJygA" class="font-blue" target="_blank">Google Chrome browser</a> with the <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" class="font-blue" target="_blank">MetaMask extension</a> installed.</p>
  </div>
</div>