<a id="roadmap"></a>
<div class="container">
    <h3 class="p-title">
        <span>{{ 'HOME.ROADMAP.HEADER' | translate }}</span>
    </h3>

    <div class="panel">

        <div class="timeline-box">
            <div class="tl-row">
                <div class="tl-item float-right">
                    <div class="tl-bullet bg-black"></div>
                    <div class="tl-panel">
                        {{'01/05/2017' | amParse:'DD/MM/YYYY' | amDateFormat:'LL'}}
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">{{ 'HOME.ROADMAP.STEP1.HEADER' | translate }}</h3>
                            <p class="tl-content">{{ 'HOME.ROADMAP.STEP1.DESCRIPTION' | translate }}</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                {{'01/05/2017' | amParse:'DD/MM/YYYY' | amTimeAgo:true}} ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row">
                <div class="tl-item">
                    <div class="tl-bullet bg-red"></div>
                    <div class="tl-panel">
                        {{'01/09/2017' | amParse:'DD/MM/YYYY' | amDateFormat:'LL'}}
                    </div>
                    <div class="popover left">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">{{ 'HOME.ROADMAP.STEP2.HEADER' | translate }}</h3>
                            <p class="tl-content">{{ 'HOME.ROADMAP.STEP2.DESCRIPTION' | translate }}</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                {{'01/09/2017' | amParse:'DD/MM/YYYY' | amTimeAgo:true}} ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row">
                <div class="tl-item float-right">
                    <div class="tl-bullet bg-green"></div>
                    <div class="tl-panel">
                        {{ 'HOME.ROADMAP.STEP4.TITLE' | translate }}
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">{{ 'HOME.ROADMAP.STEP4.HEADER' | translate }}</h3>
                            <p class="tl-content">{{ 'HOME.ROADMAP.STEP4.DESCRIPTION' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>