@charset "UTF-8";

@font-face {
  font-family: "traveliko-font";
  src:url("fonts/traveliko-font.eot");
  src:url("fonts/traveliko-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/traveliko-font.woff") format("woff"),
    url("fonts/traveliko-font.ttf") format("truetype"),
    url("fonts/traveliko-font.svg#traveliko-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "traveliko-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "traveliko-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social:before {
  content: "\61";
}
.icon-discount-neg:before {
  content: "\44";
}
.icon-freebies-free-fooddrink:before {
  content: "\45";
}
.icon-freebies-gaurantee:before {
  content: "\46";
}
.icon-lifestyle-spa:before {
  content: "\47";
}
.icon-lifestyle-adult-only:before {
  content: "\48";
}
.icon-lifestyle-adventure:before {
  content: "\4a";
}
.icon-monetize-perks:before {
  content: "\56";
}
.icon-monitor-review:before {
  content: "\57";
}
.icon-monetize-rateplans:before {
  content: "\59";
}
.icon-freebies-free-drink:before {
  content: "\e004";
}
.icon-freebies-late-checkout:before {
  content: "\e013";
}
.icon-united-people:before {
  content: "\e01d";
}
.icon-floor-plan:before {
  content: "\e020";
}
.icon-dog-friendly:before {
  content: "\e023";
}
.icon-traveliko-logo:before {
  content: "\e024";
}
.icon-users:before {
  content: "\e025";
}
.icon-freebies-early-checkin:before {
  content: "\e029";
}
.icon-inventory-lifestyle:before {
  content: "\e030";
}
.icon-freebies-massage:before {
  content: "\e031";
}
.icon-inventory-business:before {
  content: "\e033";
}
.icon-freebies-room-upgrade:before {
  content: "\e042";
}
.icon-inventory-social:before {
  content: "\e045";
}
.icon-monetize-roomrates:before {
  content: "\e048";
}
.icon-magnifying-glass:before {
  content: "\e04e";
}
.icon-greendex-tree-pos:before {
  content: "\e063";
}
.icon-together:before {
  content: "\e065";
}
.icon-regrowth:before {
  content: "\e066";
}
.icon-louie-the-lemur:before {
  content: "\e073";
}
.icon-travelkoin:before {
  content: "\e074";
}
.icon-unionpay-logo:before {
  content: "\e076";
}
.icon-multimedia-view:before {
  content: "\64";
}
.icon-animals:before {
  content: "\3f";
}
.icon-inventory-award:before {
  content: "\68";
}
.icon-inventory-contact:before {
  content: "\6a";
}
.icon-inventory-information:before {
  content: "\6c";
}
.icon-inventory-location:before {
  content: "\6e";
}
.icon-image-horizontal:before {
  content: "\6f";
}
.icon-inventory-rooms:before {
  content: "\70";
}
.icon-inventory-services:before {
  content: "\71";
}
.icon-cancellation-policy:before {
  content: "\73";
}
.icon-monetize-policyscheme:before {
  content: "\75";
}
.icon-arrowhead-right:before {
  content: "\63";
}
.icon-beach:before {
  content: "\66";
}
.icon-city:before {
  content: "\67";
}
.icon-countryside:before {
  content: "\6b";
}
.icon-backpacker:before {
  content: "\6d";
}
.icon-couples:before {
  content: "\72";
}
.icon-shopping:before {
  content: "\76";
}
.icon-solo-traveler:before {
  content: "\77";
}
.icon-sports:before {
  content: "\78";
}
.icon-eco-friendly:before {
  content: "\79";
}
.icon-discovery:before {
  content: "\7a";
}
.icon-foodie:before {
  content: "\41";
}
.icon-lifestyle-relax:before {
  content: "\65";
}
.icon-lifestyle-solofemale:before {
  content: "\42";
}
.icon-noun-566382:before {
  content: "\65";
}
.icon-noun-1016861-1:before {
  content: "\42";
}
.icon-green-dex:before {
  content: "\43";
}
.icon-lifestyle-lgbtq:before {
  content: "\69";
}
.icon-lifestyle-business:before {
  content: "\49";
}
.icon-lifestyle-romance:before {
  content: "\4d";
}
.icon-mountain:before {
  content: "\4e";
}
.icon-lifestyle-family:before {
  content: "\4f";
}
.icon-lifestyle-singleparent:before {
  content: "\50";
}
.icon-inventory-attractions:before {
  content: "\51";
}
.icon-position-marker:before {
  content: "\53";
}
.icon-lifestyle-health:before {
  content: "\54";
}
.icon-meeting-rooms:before {
  content: "\5a";
}
.icon-inventory-restaurant:before {
  content: "\58";
}
.icon-monetize-packages:before {
  content: "\4b";
}
.icon-freebies-wine:before {
  content: "\74";
}
.icon-monetize-upgrades:before {
  content: "\62";
}
.icon-donations:before {
  content: "\55";
}
.icon-inventory-activities:before {
  content: "\4c";
}
.icon-inventory-spa:before {
  content: "\52";
}
.icon-loyalty-points:before {
  content: "\30";
}
.icon-checkin:before {
  content: "\31";
}
.icon-checkout:before {
  content: "\32";
}
.icon-map:before {
  content: "\33";
}
.icon-hotel:before {
  content: "\34";
}
.icon-thin-x:before {
  content: "\35";
}
.icon-geodesic-sphere:before {
  content: "\36";
}
.icon-arrowhead-left:before {
  content: "\37";
}
.icon-dot:before {
  content: "\38";
}
.icon-arrowhead-down:before {
  content: "\39";
}
.icon-arrowhead-thin-right:before {
  content: "\21";
}

.icon-coinbase:before {
    content: "\22";
}
