
<div class="content-box">
    <h3 class="content-box-header bg-white">
        <span class="icon-separator">
            <i class="fas fa-spinner font-blue fa-fw" [ngClass]="{'fa-spin': hasStarted === true && hasEnded === false}"></i>
        </span>
        {{ 'DASHBOARD.GOAL_REACHED' | translate }}
    </h3>
    <div class="content-box-wrapper text-center font-size-20">
        <ngb-progressbar [value]="value" [max]="max"></ngb-progressbar>
        <p class="text-center font-size-20">{{ valueString }} of {{ maxString }} tokens sold</p>
    </div>

    <div class="content-box-wrapper text-center mrg25A" *ngIf="status != null">
        <i class="fas fa-exclamation-circle font-red"></i> {{ status | translate }}
    </div>
</div>