<div class="center-vertical">
    <div class="center-content">

        <a (click)="signInWithFacebook()" class="btn btn-block btn-md bg-facebook">
            <span class="glyph-icon icon-separator">
                <i class="fab fa-facebook-f"></i>
            </span>
            <span class="button-content">
                {{ 'AUTH.LOGIN.CONNECT_WITH_FACEBOOK' | translate }}
            </span>
        </a>
        <div class="mrg10A"></div>
        <a (click)="signInWithTwitter()" class="btn btn-block btn-md bg-twitter">
            <span class="glyph-icon icon-separator">
                <i class="fab fa-twitter"></i>
            </span>
            <span class="button-content">
                {{ 'AUTH.LOGIN.CONNECT_WITH_TWITTER' | translate }}
            </span>
        </a>
        <div class="mrg10A"></div>
        <a (click)="signInWithGoogle()" class="btn btn-block btn-md bg-google">
                                    <span class="glyph-icon icon-separator">
                                        <i class="fab fa-google-plus-g"></i>
                                    </span>
            <span class="button-content">
                {{ 'AUTH.LOGIN.CONNECT_WITH_GOOGLE' | translate }}
            </span>
        </a>
        <div class="mrg10A"></div>
        <a (click)="signInWithGithub()" class="btn btn-block btn-md bg-github">
            <span class="glyph-icon icon-separator">
                <i class="fab fa-github"></i>
            </span>
            <span class="button-content">
                {{ 'AUTH.LOGIN.CONNECT_WITH_GITHUB' | translate }}
            </span>
        </a>
        <!--
        <div class="mrg10A"></div>
        <a (click)="signInWithCoinbase()" class="btn btn-block btn-md bg-coinbase">
            <span class="glyph-icon icon-separator">
                <i class="icon-coinbase"></i>
            </span>
            <span class="button-content">
                {{ 'AUTH.LOGIN.CONNECT_WITH_COINBASE' | translate }}
            </span>
        </a>
        -->
    </div>
</div>