<app-home-marketing-header></app-home-marketing-header>
<app-home-airdrop></app-home-airdrop>
<app-home-nutshell></app-home-nutshell>
<app-home-mailchimp></app-home-mailchimp>
<app-home-payment-gateway></app-home-payment-gateway>
<app-home-features></app-home-features>
<app-home-global-loyalty-platform></app-home-global-loyalty-platform>
<app-home-timeline></app-home-timeline>
<!--<app-home-ico-details></app-home-ico-details>-->
<app-home-what-are-you-waiting-for></app-home-what-are-you-waiting-for>
<app-home-team></app-home-team>
<app-home-advisors></app-home-advisors>
<app-home-backers></app-home-backers>
<app-home-news></app-home-news>
<app-home-testimonials></app-home-testimonials>