<div class="container">
    <h3 class="p-title">
        <span>{{ 'HOME.TEAM.HEADER' | translate }}</span>
    </h3>

    <div class="row">
        <div class="col-sm-4">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/bjorn.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Bjorn Harvold</b>
                        <span>CTO, Traveliko.com <a href="https://www.linkedin.com/in/bjornharvold" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/martin.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Martin Struschka</b>
                        <span>CTO, ICS Travel Group <a href="https://www.linkedin.com/in/martin-struschka-555b0b18/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/seva.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Seva Safris</b>
                        <span>CTO, SplashMining. <a href="https://www.linkedin.com/in/safris/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/yann.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Yann Gouriou</b>
                        <span>CEO, Unicorn Hotels & Resorts <a href="https://www.linkedin.com/in/yanng17/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/sam.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Sam Lee</b>
                        <span>SEA Country Manager, Taboola. <a href="http://linkedin.com/in/kessamlee/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="testimonial-box">
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="/assets/img/home/michal.jpg" alt="">
                    <div class="testimonial-author">
                        <b>Michaglio Masiario</b>
                        <span>Marketing, Travelkoin. <a href="https://www.linkedin.com/in/michaglio-masiario-b75a0220/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>