<div id="accordion" class="panel-group" *ngIf="user != null">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/hans/dashboard']" class="display-block">
                    <i class="fas fa-home"></i>
                    <i class="fas fa-angle-right float-right"></i>
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a [routerLink]="['/hans/users']" class="display-block">
            <i class="fas fa-users fa-fw"></i> {{ 'HANS.USERS.TITLE' | translate }}
            <i class="fas fa-angle-right float-right"></i>
          </a>
        </h4>
      </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/hans/contract']" class="display-block">
                    <i class="fab fa-ethereum fa-fw"></i> {{ 'CONTRACT.TITLE' | translate }}
                    <i class="fas fa-angle-right float-right"></i>
                </a>
            </h4>
        </div>
    </div>

</div>