<div id="accordion" class="panel-group" *ngIf="user != null">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/hans/dashboard']" class="display-block">
                    <fa-icon [icon]="['far', 'home']"></fa-icon>
                    <fa-icon [icon]="['far', 'angle-right']" class="float-right"></fa-icon>
                </a>
            </h4>
        </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a [routerLink]="['/hans/users']" class="display-block">
            <fa-icon [icon]="['far', 'users fa-fw']"></fa-icon>
              <fa-icon [icon]="['far', 'users']" [fixedWidth]="true"></fa-icon> {{ 'HANS.USERS.TITLE' | translate }}
              <fa-icon [icon]="['far', 'angle-right']" class="float-right"></fa-icon>
          </a>
        </h4>
      </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/hans/contract']" class="display-block">
                    <fa-icon [icon]="['fab', 'ethereum']" [fixedWidth]="true"></fa-icon> {{ 'CONTRACT.TITLE' | translate }}
                    <fa-icon [icon]="['far', 'angle-right']" class="float-right"></fa-icon>
                </a>
            </h4>
        </div>
    </div>

</div>