<div id="page-title">
    <h2>
        <i class="fab fa-ethereum"></i>
        {{ 'CONTRACT.TITLE' | translate }}</h2>
    <p>{{ 'CONTRACT.DESCRIPTION' | translate }}</p>
</div>


<form [formGroup]="dateRangeForm" (ngSubmit)="updateDates()" *ngIf="dateRangeForm != null">
    <div class="content-box">
        <h3 class="content-box-header bg-white">
            {{ 'CONTRACT_CONFIGURATION.TOKEN_DATES' | translate }}
        </h3>
        <div class="content-box-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <div *ngIf="dateRangeForm.get('startDate')" class="form-group">
                        <label for="startDate">{{ 'CONTRACT.START_DATE' | translate }}</label>
                        <div class="input-group input-group-lg">
                            <input id="startDate" type="text" class="form-control form-control-lg border-green" name="startDate" formControlName="startDate">
                            <span class="input-group-addon"><i class="fas fa-shield-check font-blue"></i></span>
                        </div>
                        <small class="form-text text-muted">{{ 'CONTRACT.START_DATE_HELP' | translate }}</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div *ngIf="dateRangeForm.get('endDate')" class="form-group">
                        <label for="endDate">{{ 'CONTRACT.END_DATE' | translate }}</label>
                        <div class="input-group input-group-lg">
                            <input id="endDate" type="text" class="form-control form-control-lg border-green" name="endDate" formControlName="endDate">
                            <span class="input-group-addon"><i class="fas fa-shield-check font-blue"></i></span>
                        </div>
                        <small class="form-text text-muted">{{ 'CONTRACT.END_DATE_HELP' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">{{ 'BUTTON_SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>