<div id="page-title">
    <h2><i class="fas fa-users"></i> {{ 'HANS.USERS.TITLE' | translate }}</h2>
    <p>{{ 'HANS.USERS.DESCRIPTION' | translate }}</p>
</div>

<ngb-tabset type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle>{{ 'HANS.USERS.REGISTERED' | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-hans-registered-users></app-hans-registered-users>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ 'HANS.USERS.NEEDS_APPROVAL' | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-hans-waiting-for-approval-users></app-hans-waiting-for-approval-users>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ 'HANS.USERS.APPROVED' | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-hans-approved-users></app-hans-approved-users>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ 'HANS.USERS.WHITELISTED' | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-hans-whitelisted-users></app-hans-whitelisted-users>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ 'HANS.USERS.BLOCKED' | translate }}</ng-template>
        <ng-template ngbTabContent>
            <app-hans-blocked-users></app-hans-blocked-users>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
