<div class="container">
  <h3 class="p-title">
    <span>{{ 'HOME.NEWS.HEADER' | translate }}</span>
  </h3>

  <div class="row">
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/eglobalblue.png" alt="eGlobal">
          <div class="testimonial-author">
            <b>eGlobal Travel Media</b>
            <span><a href="http://www.eglobaltravelmedia.com.au/travelkoin-set-to-revolutionize-the-global-travel-industry-with-innovative-payment-loyalty-platform/" target="_blank">Travelkoin Set to Revolutionize the Global Travel Industry with Innovative Payment & Loyalty Platform <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/cryptonews.png" alt="Crypto News">
          <div class="testimonial-author">
            <b>Crypto News</b>
            <span><a href="https://cryptonews.com/exclusives/startups-lead-the-blockchain-revolution-in-the-travel-indust-1459.htm" target="_blank">Startups Lead the Blockchain Revolution in the Travel Industry <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/ttgmice.png" alt="Travel Tripper">
          <div class="testimonial-author">
            <b>TTG mice</b>
            <span><a href="http://www.ttgmice.com/2018/03/08/new-cryptocurrency-platform-travelkoin-takes-on-industrys-pain-points/" target="_blank">New cryptocurrency platform Travelkoin takes on industry’s pain points <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/traveltripperlogo.png" alt="Travel Tripper">
          <div class="testimonial-author">
            <b>Travel Tripper</b>
            <span><a href="http://www.traveltripper.com/blog/how-blockchain-might-be-used-in-travel/" target="_blank">How blockchain might be used in travel <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/tdm.png" alt="Travel Daily Media">
          <div class="testimonial-author">
            <b>Travel Daily Media</b>
            <span><a href="http://www.traveldailymedia.com/444005/travelkoin-new-hospitality-blockchain-innovation-disruption/" target="_blank">The new blockchain travel service <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/smart_fellas.jpg" alt="two SMART fellas">
          <div class="testimonial-author">
            <b>two SMART fellas</b>
            <span><a href="https://youtu.be/DjVcsyYWtm0?t=3250" target="_blank">Hotel Booking Engines: best practice + analysis <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/pata.png" alt="PATA">
          <div class="testimonial-author">
            <b>PATA</b>
            <span><a href="https://pata.org/store/publications/the-connected-visitor-economy-february-2018/" target="_blank">The Connected Visitor Economy <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/ics.png" alt="ICS Travel Group">
          <div class="testimonial-author">
            <b>ICS Travel Group</b>
            <span><a href="https://icstravelgroup.com/ics-announces-partnership-travelkoin/" target="_blank">Partners with Travelkoin <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/ttg_asia.png" alt="TTG Asia">
          <div class="testimonial-author">
            <b>TTG Asia</b>
            <span><a href="https://www.ttgasia.com/2018/02/23/cryptocurrency-for-travel-industry-finds-dmc-taker/" target="_blank">Cryptocurrency for travel industry finds DMC taker <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/track_ico.png" alt="TrackICO - provider of information about the best ICOs">
          <div class="testimonial-author">
            <b>Track ICO</b>
            <span><a href="https://www.trackico.io" target="_blank" title="TrackICO">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/ico_bench.png" alt="ICO Bench">
          <div class="testimonial-author">
            <b>ICO Bench</b>
            <span><a href="https://icobench.com/ico/travelkoin" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/coinhills.png" alt="Coinhills">
          <div class="testimonial-author">
            <b>Coinhills</b>
            <span><a href="https://www.coinhills.com/ico/view/travelkoin/" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/cryptocurrency_price_chart.png" alt="Crypto currency price chart">
          <div class="testimonial-author">
            <b>Crypto currency price chart</b>
            <span><a href="https://cryptocurrencypricechart.com/detail/Travelkoin" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/list_of_ico.png" alt="List of ICO">
          <div class="testimonial-author">
            <b>List of ICO</b>
            <span><a href="https://listofico.com/ico-detail.php?name=Travelkoin" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/latest_ico_news.png" alt="Latest ICO news">
          <div class="testimonial-author">
            <b>Latest ICO news</b>
            <span><a href="https://latesticonews.com/ico-detail/Travelkoin" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/coindelite.png" alt="Coin Delite">
          <div class="testimonial-author">
            <b>Coin Delite</b>
            <span><a href="https://coindelite.com/ico_detail.php?name=Travelkoin" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-4">-->
      <!--<div class="testimonial-box">-->
        <!--<div class="testimonial-author-wrapper">-->
          <!--<img class="img-circle" src="/assets/img/news/ico_daily.png" alt="ICO Daily">-->
          <!--<div class="testimonial-author">-->
            <!--<b>ICO Daily</b>-->
            <!--<span><a href="https://icodaily.net/" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<div class="testimonial-box">-->
        <!--<div class="testimonial-author-wrapper">-->
          <!--<img class="img-circle" src="/assets/img/news/token_desk.jpg" alt="Token Desk">-->
          <!--<div class="testimonial-author">-->
            <!--<b>Token Desk</b>-->
            <!--<span><a href="https://www.tokendesk.io/" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<div class="testimonial-box">-->
        <!--<div class="testimonial-author-wrapper">-->
          <!--<img class="img-circle" src="/assets/img/news/icotracker.png" alt="ICO Tracker">-->
          <!--<div class="testimonial-author">-->
            <!--<b>ICO Tracker</b>-->
            <!--<span><a href="https://www.icotracker.net/" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/ico_ranker.png" alt="ICO Ranker">
          <div class="testimonial-author">
            <b>ICO Ranker</b>
            <span><a href="https://icoranker.com/ico/travelkoin/" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-4">-->
      <!--<div class="testimonial-box">-->
        <!--<div class="testimonial-author-wrapper">-->
          <!--<img class="img-circle" src="/assets/img/news/ico_holder.png" alt="ICO Holder">-->
          <!--<div class="testimonial-author">-->
            <!--<b>ICO Holder</b>-->
            <!--<span><a href="https://icoholder.com/en/travelkoin-18299" target="_blank">Go there <i class="fas fa-external-link-square"></i></a></span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/news/clearify.png" alt="Clearify">
          <div class="testimonial-author">
            <b>Clearify</b>
            <span><a href="https://www.clearify.io/" target="_blank">Verified by Clearify <i class="fas fa-external-link-square"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>