<div class="container">
  <h3 class="p-title">
    <span>{{ 'HOME.NEWS.HEADER' | translate }}</span>
  </h3>

  <div class="row">
    <div class="col-sm-4">
      <div class="testimonial-box">
        <div class="testimonial-author-wrapper">
          <img class="img-circle" src="/assets/img/tdm.png" alt="">
          <div class="testimonial-author">
            <b>Travel Daily Media</b>
            <span><a href="http://www.traveldailymedia.com/444005/travelkoin-new-hospitality-blockchain-innovation-disruption/" target="_blank">The new blockchain travel service</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>