<div class="content-box">
    <h3 class="content-box-header bg-white">
        <span class="icon-separator">
            <i class="fas fa-shield-check font-blue"></i>
        </span>
        {{ 'TOKEN_CONTRACT.TOKEN_SALE' | translate }} {{ 'TOKEN_CONTRACT.YOU_ARE_USING' | translate }} {{ provider }}
    </h3>
    <div class="content-box-wrapper" *ngIf="started === true && status == null">
        <form (ngSubmit)="buyTokens()" [formGroup]="form">

            <div class="form-group" *ngIf="form.get('account')">
                <label for="account">{{ 'TOKEN_CONTRACT.ACCOUNT' | translate }}:</label>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon addon-inside bg-white font-primary">
                        <i class="fas fa-id-card"></i>
                    </span>
                    <input id="account" type="account" class="form-control" formControlName="account">
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('amount')">
                <label for="amount">{{ 'TOKEN_CONTRACT.AMOUNT' | translate }} ({{ 'TOKEN_CONTRACT.CURRENT_BALANCE' | translate }}: {{currentAccountBalanceEther}} ETH):</label>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon addon-inside bg-white font-primary">
                        <i class="fab fa-ethereum"></i>
                    </span>
                    <input id="amount" type="amount" class="form-control" placeholder="{{ 'TOKEN_CONTRACT.AMOUNT' | translate }}" formControlName="amount">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-blue-alt" [disabled]="!form.valid">{{ 'TOKEN_CONTRACT.MAKE_PAYMENT' | translate }}</button>
            </div>

        </form>
    </div>
    <div class="content-box-wrapper text-center mrg30A" *ngIf="started === false && status == null">
        {{ 'TOKEN_CONTRACT.NOT_STARTED' | translate }}
    </div>
    <div class="content-box-wrapper text-center mrg30A" *ngIf="status != null">
        <i class="fas fa-exclamation-circle font-red"></i> {{ status | translate }}
    </div>
</div>