<div id="accordion" class="panel-group" *ngIf="user != null">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/secure/dashboard']" class="display-block" *ngIf="disabled === false">
                    <i class="fas fa-home"></i>
                    <i class="fas fa-angle-right float-right"></i>
                </a>
                <span class="display-block" *ngIf="disabled === true">
                    <i class="fas fa-home"></i>
                    <i class="fas fa-angle-right float-right"></i>
                </span>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/secure/wallet/TKT']" class="display-block" *ngIf="disabled === false">
                    <i class="fas icon-travelkoin fa-fw"></i> TKT
                    <i class="fas fa-angle-right float-right"></i>
                </a>
                <span class="display-block" *ngIf="disabled === true">
                    <i class="fas icon-travelkoin fa-fw"></i> TKT
                    <i class="fas fa-angle-right float-right"></i>
                </span>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/secure/wallet/ETH']" class="display-block" *ngIf="disabled === false">
                    <i class="fab fa-ethereum fa-fw"></i> ETH
                    <i class="fas fa-angle-right float-right"></i>
                </a>
                <span class="display-block" *ngIf="disabled === true">
                    <i class="fab fa-ethereum fa-fw"></i> ETH
                    <i class="fas fa-angle-right float-right"></i>
                </span>
            </h4>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a [routerLink]="['/secure/forms']" class="display-block">
                    <i class="fas fa-id-card fa-fw"></i> {{ 'DASHBOARD.FORMS' | translate }}
                    <i class="fas fa-angle-right float-right"></i>
                </a>
            </h4>
        </div>
    </div>

</div>