<div id="page-title">
    <h2>
        <i class="fab fa-ethereum"></i>
        {{ 'COIN.ETH' | translate }} {{ 'WALLET.TITLE' | translate }}</h2>
    <p>{{ 'WALLET.DESCRIPTION' | translate }}</p>
</div>

<app-secure-invested-ether></app-secure-invested-ether>

<div class="content-box">
    <h3 class="content-box-header bg-white">
        {{ 'VALUE.PAYMENTS' | translate }}
    </h3>
    <div class="content-box-wrapper">
        <p class="mrg10B" *ngIf="view == null">{{ 'VALUE.INSTRUCTIONS' | translate }}</p>
        <div class="grid-wrapper">
            <kendo-grid #grid
                        [data]="view"
                        [sortable]="false"
                        [pageable]="false"
                        [height]="550"
            >
                <kendo-grid-column field="transactionID" [title]="'VALUE.TRANSACTION_ID' | translate "></kendo-grid-column>
                <kendo-grid-column field="amount" [width]="80" [title]="'VALUE.AMOUNT' | translate " class="text-right"></kendo-grid-column>
            </kendo-grid>
            <div *ngIf="loading" class="k-i-loading"></div>
        </div>
    </div>
</div>
